[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=3
name=
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=500
timerShow=300
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][64]
immutability=1
plugin=org.kde.windowtitle

[Containments][1][Applets][64][Configuration]
PreloadWeight=18

[Containments][1][Applets][64][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][64][Configuration][General]
containmentType=Latte
filterActivityInfo=false

[Containments][1][Applets][65]
immutability=1
plugin=org.kde.plasma.appmenu

[Containments][1][Applets][65][Configuration]
PreloadWeight=18

[Containments][1][Applets][65][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][66]
immutability=1
plugin=org.kde.windowbuttons

[Containments][1][Applets][66][Configuration]
PreloadWeight=18

[Containments][1][Applets][66][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][66][Configuration][General]
buttons=3|4|5|10|2|9
containmentType=Latte
visibility=ActiveMaximizedWindow

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=10

[Containments][1][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=64;65;66
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
backgroundAllCorners=true
closeActiveWindowEnabled=true
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconMargin=0
iconSize=20
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=37
plasmaBackgroundForPopups=true
shadowOpacity=35
shadowSize=45
shadowsUpgraded=true
showGlow=false
solidBackgroundForMaximized=true
splitterPosition=3
splitterPosition2=4
tasksUpgraded=true
thickMargin=19
titleTooltips=false
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[LayoutSettings]
activities=
backgroundStyle=0
color=lightskyblue
customBackground=
customTextColor=
globalLaunchers=
icon=
lastUsedActivity=954b098f-2a04-4385-a312-3f903e60ca68
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
