[submodule "packages/nvim"]
	path = packages/nvim
	url = https://github.com/m42nk/dotfiles-nvim
	ignore = dirty
	branch = master
	update = rebase
[submodule "packages/tmux"]
	path = packages/tmux
	url = https://github.com/m42nk/dotfiles-tmux
	ignore = dirty
	branch = master
	update = rebase
[submodule ".meta/dotbot"]
	path = .meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
