[submodule "dotfiles-nvim"]
	path = nvim
	url = https://github.com/m42nk/dotfiles-nvim
	ignore = dirty
[submodule "dotfiles-tmux"]
	path = tmux
	url = https://github.com/m42nk/dotfiles-tmux
	ignore = dirty
[submodule "dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
