[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=3
name=Top Panel
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=500
timerShow=300
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][64]
immutability=1
plugin=org.kde.windowtitle

[Containments][1][Applets][64][Configuration]
PreloadWeight=0

[Containments][1][Applets][64][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][64][Configuration][General]
containmentType=Latte
filterActivityInfo=false
placeHolder=Arch BTW
showIcon=false

[Containments][1][Applets][65]
immutability=1
plugin=org.kde.plasma.appmenu

[Containments][1][Applets][65][Configuration]
PreloadWeight=0

[Containments][1][Applets][65][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][66]
immutability=1
plugin=org.kde.windowbuttons

[Containments][1][Applets][66][Configuration]
PreloadWeight=0

[Containments][1][Applets][66][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][66][Configuration][General]
buttons=3|4|5|10|2|9
containmentType=Latte
visibility=ActiveMaximizedWindow

[Containments][1][Applets][87]
immutability=1
plugin=com.github.zren.commandoutput

[Containments][1][Applets][87][Configuration]
PreloadWeight=0

[Containments][1][Applets][87][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][87][Configuration][General]
clickCommand=alacritty -t "System Monitor" -e htop
command=mon.sh
fontSize=12
textAlign=4

[Containments][1][Applets][88]
immutability=1
plugin=org.kde.plasma.kicker

[Containments][1][Applets][88][Configuration]
PreloadWeight=92

[Containments][1][Applets][88][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][88][Configuration][General]
customButtonImage=/home/m42nk/Downloads/arch-logo-sm.png
favoriteSystemActions=logout
favoritesPortedToKAstats=true
showIconsRootLevel=true
useCustomButtonImage=true

[Containments][1][Applets][92]
immutability=1
plugin=com.github.zren.commandoutput

[Containments][1][Applets][92][Configuration]
PreloadWeight=0

[Containments][1][Applets][92][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][92][Configuration][General]
clickCommand=kdialog --msgbox "$(gui-ip.sh)"
command=getip
fontSize=11
textAlign=4

[Containments][1][Applets][94]
immutability=1
plugin=com.github.configurable_button

[Containments][1][Applets][94][Configuration]
PreloadWeight=0

[Containments][1][Applets][94][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][94][Configuration][General]
iconOff=view-fullscreen-symbolic
iconOn=view-fullscreen
offScript=xdotool key F11
onScript=xdotool key F11

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=88;64;65;92;94;87;66
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
backgroundAllCorners=true
blurEnabled=false
closeActiveWindowEnabled=true
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconMargin=0
iconSize=20
inConfigureAppletsMode=true
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=80
plasmaBackgroundForPopups=true
shadowOpacity=35
shadowSize=45
shadowsUpgraded=true
showGlow=false
solidBackgroundForMaximized=true
splitterPosition=4
splitterPosition2=6
tasksUpgraded=true
thickMargin=4
titleTooltips=false
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][1][Indicator][org.kde.latte.default][General]
lengthPadding=0.09

[Containments][15]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=4
maxLength=21
name=Desktops Buttons
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][15][Applets][40]
immutability=1
plugin=org.kde.plasma.virtualdesktopbar

[Containments][15][Applets][40][Configuration]
PreloadWeight=0

[Containments][15][Applets][40][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][15][Applets][40][Configuration][Preferences]
AddDesktopButtonShow=false
AddingDesktopsSwitchTo=false
DesktopButtonsHorizontalMargin=3
DesktopButtonsSetCommonSizeForAll=true
DesktopButtonsVerticalMargin=0
DesktopIndicatorsCustomColorForCurrentDesktop=#006496
DesktopIndicatorsCustomColorForDesktopsNeedingAttention=#fcfcfc
DesktopIndicatorsCustomColorForIdleDesktops=#00ffffff
DesktopIndicatorsCustomColorForOccupiedIdleDesktops=#9e9e9e
DesktopIndicatorsDistinctForDesktopsNeedingAttention=true
DesktopIndicatorsStyle=2
DesktopLabelsStyle=1

[Containments][15][ConfigDialog]
DialogHeight=1254
DialogWidth=529

[Containments][15][Configuration]
PreloadWeight=0

[Containments][15][General]
alignment=1
alignmentUpgraded=true
appletOrder=40
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
backgroundRadius=30
blurEnabled=false
configurationSticker=true
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconSize=22
maxLength=2
minLength=2
mouseWheelActions=false
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=80
plasmaBackgroundForPopups=true
screenEdgeMargin=-1
shadowOpacity=25
shadows=None
shadowsUpgraded=true
splitterPosition=0
splitterPosition2=2
taskScrollAction=ScrollNone
tasksUpgraded=true
thickMargin=10
titleTooltips=false
zoomLevel=0

[Containments][15][Indicator]
customType=org.kde.latte.unity
enabled=true
enabledForApplets=true
padding=0.09000000357627869
type=org.kde.latte.plasma

[Containments][15][Indicator][org.kde.latte.default][General]
reversed=true

[Containments][15][Indicator][org.kde.latte.plasma][General]
backgroundCornerMargin=0.45
lengthPadding=0.16

[Containments][16]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=4
maxLength=21
name=Tasks List
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][16][Applets][100]
immutability=1
plugin=adhe.textcommand

[Containments][16][Applets][100][Configuration]
PreloadWeight=0

[Containments][16][Applets][100][Configuration][Appearance]
command=
italicText=true
paddingLeft=2
paddingRight=2
textLabel=|

[Containments][16][Applets][100][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][16][Applets][101]
immutability=1
plugin=org.kde.plasma.icontasks

[Containments][16][Applets][101][Configuration]
PreloadWeight=0

[Containments][16][Applets][101][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][16][Applets][101][Configuration][General]
launchers=applications:google-chrome.desktop
maxStripes=1

[Containments][16][Applets][97]
immutability=1
plugin=org.kde.plasma.marginsseparator

[Containments][16][Applets][97][Configuration]
PreloadWeight=0

[Containments][16][Applets][98]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][16][Applets][98][Configuration]
PreloadWeight=0

[Containments][16][Applets][98][Configuration][General]
animationNewWindowSliding=false
audioBadgeActionsEnabled=false
isInLatteDock=true
isPreferredForDroppedLaunchers=false
leftClickAction=PreviewWindows
showAudioBadge=false
showInfoBadge=false
showProgressBadge=false

[Containments][16][ConfigDialog]
DialogHeight=1254
DialogWidth=529

[Containments][16][Configuration]
PreloadWeight=0

[Containments][16][General]
alignmentUpgraded=true
appletOrder=101;100;97;98
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
backgroundRadius=28
blurEnabled=false
configurationSticker=true
dragActiveWindowEnabled=true
durationTime=x1
floatingInternalGapIsForced=false
iconSize=18
lengthExtMargin=20
maxLength=21
mouseWheelActions=false
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=81
plasmaBackgroundForPopups=true
screenEdgeMargin=-1
shadowOpacity=25
shadows=None
shadowsUpgraded=true
splitterPosition=1
splitterPosition2=2
taskScrollAction=ScrollNone
tasksUpgraded=true
thickMargin=25
titleTooltips=false
zoomLevel=0

[Containments][16][Indicator]
customType=org.kde.latte.unity
enabled=false
enabledForApplets=true
padding=0.09000000357627869
type=org.kde.latte.default

[Containments][16][Indicator][org.kde.latte.default][General]
extraDotOnActive=true
lengthPadding=0.11
minimizedTaskColoredDifferently=true
size=0.25
thickMargin=0.01

[Containments][16][Indicator][org.kde.latte.plasma][General]
backgroundCornerMargin=0.63
clickedAnimationEnabled=true
lengthPadding=0.15
reversed=true

[Containments][17]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=4
maxLength=21
name=Tray
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][17][Applets][43]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][17][Applets][43][Configuration]
PreloadWeight=100
SystrayContainmentId=18

[Containments][17][Applets][90]
immutability=1
plugin=org.kde.plasma.betterinlineclock

[Containments][17][Applets][90][Configuration]
PreloadWeight=0

[Containments][17][Applets][90][Configuration][Appearance]
customOffsetY=-1
fixedFont=true
fontSize=13

[Containments][17][Applets][90][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][17][ConfigDialog]
DialogHeight=1254
DialogWidth=529

[Containments][17][Configuration]
PreloadWeight=0

[Containments][17][General]
alignment=2
alignmentUpgraded=true
appletOrder=90;43
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
backgroundRadius=30
blurEnabled=false
configurationSticker=true
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconSize=22
inConfigureAppletsMode=true
lengthExtMargin=1
maxLength=21
mouseWheelActions=false
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=81
plasmaBackgroundForPopups=true
screenEdgeMargin=-1
shadowOpacity=25
shadows=None
shadowsUpgraded=true
splitterPosition=0
splitterPosition2=2
taskScrollAction=ScrollNone
tasksUpgraded=true
thickMargin=10
titleTooltips=false
zoomLevel=0

[Containments][17][Indicator]
customType=org.kde.latte.unity
enabled=true
enabledForApplets=true
padding=0.09000000357627869
type=org.kde.latte.plasma

[Containments][17][Indicator][org.kde.latte.default][General]
reversed=true

[Containments][17][Indicator][org.kde.latte.plasma][General]
lengthPadding=0.27

[Containments][18]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=10
layoutId=
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][18][Applets][44]
immutability=1
plugin=org.kde.plasma.battery

[Containments][18][Applets][44][Configuration]
PreloadWeight=0

[Containments][18][Applets][45]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][18][Applets][45][Configuration]
PreloadWeight=0

[Containments][18][Applets][46]
immutability=1
plugin=org.kde.kdeconnect

[Containments][18][Applets][46][Configuration]
PreloadWeight=0

[Containments][18][Applets][47]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][18][Applets][47][Configuration]
PreloadWeight=0

[Containments][18][Applets][48]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][18][Applets][48][Configuration]
PreloadWeight=46

[Containments][18][Applets][49]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][18][Applets][49][Configuration]
PreloadWeight=0

[Containments][18][Applets][50]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][18][Applets][50][Configuration]
PreloadWeight=74

[Containments][18][Applets][50][Shortcuts]
global=Meta+N

[Containments][18][Applets][51]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][18][Applets][51][Configuration]
PreloadWeight=0

[Containments][18][Applets][51][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][18][Applets][52]
immutability=1
plugin=org.kde.plasma.volume

[Containments][18][Applets][52][Configuration]
PreloadWeight=0

[Containments][18][Applets][52][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][18][Applets][52][Configuration][General]
raiseMaximumVolume=true

[Containments][18][Applets][53]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][18][Applets][53][Configuration]
PreloadWeight=0

[Containments][18][Applets][54]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][18][Applets][54][Configuration]
PreloadWeight=0

[Containments][18][Applets][55]
immutability=1
plugin=org.kde.plasma.vault

[Containments][18][Applets][55][Configuration]
PreloadWeight=0

[Containments][18][Applets][95]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][18][Applets][95][Configuration]
PreloadWeight=81

[Containments][18][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][18][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.plasma.mediacontroller,org.kde.plasma.vault,org.kde.plasma.keyboardindicator,org.kde.plasma.keyboardlayout,org.kde.plasma.notifications,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.kdeconnect,org.kde.plasma.volume,org.kde.plasma.nightcolorcontrol,org.kde.plasma.battery,org.kde.plasma.manage-inputmethod,org.kde.plasma.bluetooth
knownItems=org.kde.plasma.networkmanagement,org.kde.plasma.mediacontroller,org.kde.plasma.vault,org.kde.plasma.keyboardindicator,org.kde.plasma.keyboardlayout,org.kde.plasma.notifications,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.kdeconnect,org.kde.plasma.volume,org.kde.plasma.nightcolorcontrol,org.kde.plasma.battery,org.kde.plasma.manage-inputmethod,org.kde.plasma.bluetooth
scaleIconsToFit=true
shownItems=org.kde.plasma.battery,org.kde.plasma.bluetooth

[Containments][25]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=4
maxLength=100
name=Backdrop
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][25][ConfigDialog]
DialogHeight=1254
DialogWidth=529

[Containments][25][Configuration]
PreloadWeight=0

[Containments][25][General]
alignment=10
alignmentUpgraded=true
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
blurEnabled=false
configurationSticker=true
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconSize=26
mouseWheelActions=false
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=0
plasmaBackgroundForPopups=true
screenEdgeMargin=-1
shadowOpacity=25
shadows=None
shadowsUpgraded=true
solidBackgroundForMaximized=true
splitterPosition=1
splitterPosition2=2
taskScrollAction=ScrollNone
tasksUpgraded=true
thickMargin=0
titleTooltips=false
zoomLevel=0

[Containments][25][Indicator]
customType=org.kde.latte.unity
enabled=true
enabledForApplets=true
padding=0.09000000357627869
type=org.kde.latte.plasma

[Containments][25][Indicator][org.kde.latte.default][General]
reversed=true

[Containments][25][Indicator][org.kde.latte.plasma][General]
lengthPadding=0.19

[LayoutSettings]
activities=
backgroundStyle=0
color=lightskyblue
customBackground=
customTextColor=
globalLaunchers=
icon=
lastUsedActivity=954b098f-2a04-4385-a312-3f903e60ca68
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
