[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=3
name=Top Panel
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=500
timerShow=300
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][64]
immutability=1
plugin=org.kde.windowtitle

[Containments][1][Applets][64][Configuration]
PreloadWeight=26

[Containments][1][Applets][64][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][64][Configuration][General]
containmentType=Latte
filterActivityInfo=false

[Containments][1][Applets][65]
immutability=1
plugin=org.kde.plasma.appmenu

[Containments][1][Applets][66]
immutability=1
plugin=org.kde.windowbuttons

[Containments][1][Applets][66][Configuration]
PreloadWeight=26

[Containments][1][Applets][66][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][1][Applets][66][Configuration][General]
buttons=3|4|5|10|2|9
containmentType=Latte
visibility=ActiveMaximizedWindow

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=18

[Containments][1][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=64;65;66
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
backgroundAllCorners=true
closeActiveWindowEnabled=true
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconMargin=0
iconSize=20
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=37
plasmaBackgroundForPopups=true
shadowOpacity=35
shadowSize=45
shadowsUpgraded=true
showGlow=false
solidBackgroundForMaximized=true
splitterPosition=3
splitterPosition2=4
tasksUpgraded=true
thickMargin=19
titleTooltips=false
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][15]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=4
maxLength=21
name=Desktops Buttons
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][15][Applets][40]
immutability=1
plugin=org.kde.plasma.virtualdesktopbar

[Containments][15][Applets][40][Configuration]
PreloadWeight=42

[Containments][15][Applets][40][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][15][Applets][40][Configuration][Preferences]
AddDesktopButtonShow=false
AddingDesktopsSwitchTo=false
DesktopButtonsHorizontalMargin=3
DesktopButtonsSetCommonSizeForAll=true
DesktopButtonsVerticalMargin=0
DesktopIndicatorsCustomColorForCurrentDesktop=#226483
DesktopIndicatorsCustomColorForDesktopsNeedingAttention=#550000
DesktopIndicatorsCustomColorForIdleDesktops=#00fcfcfc
DesktopIndicatorsCustomColorForOccupiedIdleDesktops=#80fcfcfc
DesktopIndicatorsDistinctForDesktopsNeedingAttention=true
DesktopIndicatorsStyle=2
DesktopLabelsStyle=1

[Containments][15][ConfigDialog]
DialogHeight=1254
DialogWidth=529

[Containments][15][Configuration]
PreloadWeight=0

[Containments][15][General]
alignment=1
alignmentUpgraded=true
appletOrder=40
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
backgroundRadius=30
blurEnabled=false
configurationSticker=true
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconSize=26
maxLength=2
minLength=2
mouseWheelActions=false
panelPosition=10
panelShadows=false
panelSize=100
plasmaBackgroundForPopups=true
screenEdgeMargin=-1
shadowOpacity=25
shadows=None
shadowsUpgraded=true
splitterPosition=0
splitterPosition2=2
taskScrollAction=ScrollNone
tasksUpgraded=true
thickMargin=10
titleTooltips=false
zoomLevel=0

[Containments][15][Indicator]
customType=org.kde.latte.unity
enabled=true
enabledForApplets=true
padding=0.09000000357627869
type=org.kde.latte.plasma

[Containments][15][Indicator][org.kde.latte.default][General]
reversed=true

[Containments][15][Indicator][org.kde.latte.plasma][General]
backgroundCornerMargin=0.45
lengthPadding=0.16

[Containments][16]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=4
maxLength=21
name=Tasks List
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][16][Applets][41]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][16][Applets][41][Configuration][General]
isInLatteDock=true
isPreferredForDroppedLaunchers=false
launchers59=[954b098f-2a04-4385-a312-3f903e60ca68]\napplications:google-chrome.desktop
showOnlyCurrentDesktop=true
showOnlyCurrentScreen=true

[Containments][16][ConfigDialog]
DialogHeight=1254
DialogWidth=529

[Containments][16][Configuration]
PreloadWeight=0

[Containments][16][General]
alignment=0
alignmentUpgraded=true
appletOrder=41
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
backgroundRadius=28
blurEnabled=false
configurationSticker=true
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconSize=22
lengthExtMargin=17
maxLength=21
mouseWheelActions=false
panelPosition=10
panelShadows=false
panelSize=100
plasmaBackgroundForPopups=true
screenEdgeMargin=-1
shadowOpacity=25
shadows=None
shadowsUpgraded=true
splitterPosition=1
splitterPosition2=2
taskScrollAction=ScrollNone
tasksUpgraded=true
thickMargin=22
titleTooltips=false
zoomLevel=0

[Containments][16][Indicator]
customType=org.kde.latte.unity
enabled=true
enabledForApplets=true
padding=0.09000000357627869
type=org.kde.latte.default

[Containments][16][Indicator][org.kde.latte.default][General]
extraDotOnActive=true
lengthPadding=0.36
minimizedTaskColoredDifferently=true
reversed=true
size=0.25

[Containments][16][Indicator][org.kde.latte.plasma][General]
backgroundCornerMargin=0.63
clickedAnimationEnabled=true
lengthPadding=0.15

[Containments][17]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=4
maxLength=21
name=Tray
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][17][Applets][42]
immutability=1
plugin=com.github.zren.commandoutput

[Containments][17][Applets][43]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][17][Applets][43][Configuration]
PreloadWeight=55
SystrayContainmentId=18

[Containments][17][ConfigDialog]
DialogHeight=1254
DialogWidth=529

[Containments][17][Configuration]
PreloadWeight=0

[Containments][17][General]
alignment=2
alignmentUpgraded=true
appletOrder=42;43
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
backgroundRadius=30
blurEnabled=false
configurationSticker=true
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconSize=26
lengthExtMargin=1
maxLength=21
mouseWheelActions=false
panelPosition=10
panelShadows=false
panelSize=100
plasmaBackgroundForPopups=true
screenEdgeMargin=-1
shadowOpacity=25
shadows=None
shadowsUpgraded=true
splitterPosition=0
splitterPosition2=2
taskScrollAction=ScrollNone
tasksUpgraded=true
thickMargin=10
titleTooltips=false
zoomLevel=0

[Containments][17][Indicator]
customType=org.kde.latte.unity
enabled=true
enabledForApplets=true
padding=0.09000000357627869
type=org.kde.latte.plasma

[Containments][17][Indicator][org.kde.latte.default][General]
reversed=true

[Containments][17][Indicator][org.kde.latte.plasma][General]
lengthPadding=0.27

[Containments][18]
activityId=
formfactor=2
immutability=1
lastScreen=-1
layoutId=
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][18][Applets][140]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][18][Applets][44]
immutability=1
plugin=org.kde.plasma.battery

[Containments][18][Applets][45]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][18][Applets][46]
immutability=1
plugin=org.kde.kdeconnect

[Containments][18][Applets][47]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][18][Applets][48]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][18][Applets][49]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][18][Applets][50]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][18][Applets][51]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][18][Applets][52]
immutability=1
plugin=org.kde.plasma.volume

[Containments][18][Applets][53]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][18][Applets][54]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][18][Applets][55]
immutability=1
plugin=org.kde.plasma.vault

[Containments][18][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.plasma.mediacontroller,org.kde.plasma.vault,org.kde.plasma.keyboardindicator,org.kde.plasma.keyboardlayout,org.kde.plasma.notifications,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.kdeconnect,org.kde.plasma.volume,org.kde.plasma.nightcolorcontrol,org.kde.plasma.battery,org.kde.plasma.manage-inputmethod,org.kde.plasma.bluetooth
knownItems=org.kde.plasma.networkmanagement,org.kde.plasma.mediacontroller,org.kde.plasma.vault,org.kde.plasma.keyboardindicator,org.kde.plasma.keyboardlayout,org.kde.plasma.notifications,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.kdeconnect,org.kde.plasma.volume,org.kde.plasma.nightcolorcontrol,org.kde.plasma.battery,org.kde.plasma.manage-inputmethod,org.kde.plasma.bluetooth

[Containments][25]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=16
layoutId=
location=4
maxLength=100
name=Backdrop
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][25][ConfigDialog]
DialogHeight=1254
DialogWidth=529

[Containments][25][Configuration]
PreloadWeight=0

[Containments][25][General]
alignment=10
alignmentUpgraded=true
appletOrder=
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
blurEnabled=false
configurationSticker=true
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconSize=30
mouseWheelActions=false
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=0
plasmaBackgroundForPopups=true
screenEdgeMargin=-1
shadowOpacity=25
shadows=None
shadowsUpgraded=true
solidBackgroundForMaximized=true
splitterPosition=1
splitterPosition2=2
taskScrollAction=ScrollNone
tasksUpgraded=true
thickMargin=0
titleTooltips=false
zoomLevel=0

[Containments][25][Indicator]
customType=org.kde.latte.unity
enabled=true
enabledForApplets=true
padding=0.09000000357627869
type=org.kde.latte.plasma

[Containments][25][Indicator][org.kde.latte.default][General]
reversed=true

[Containments][25][Indicator][org.kde.latte.plasma][General]
lengthPadding=0.19

[LayoutSettings]
activities=
backgroundStyle=0
color=lightskyblue
customBackground=
customTextColor=
globalLaunchers=
icon=
lastUsedActivity=
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
