[LayoutSettings]
backgroundStyle=1
color=green
customBackground=
customTextColor=
icon=
lastUsedActivity=954b098f-2a04-4385-a312-3f903e60ca68
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
