[Desktop Entry]
Name=Google Docs
Type=Link
GenericName=Office
Comment=Open Google Docs on browser
URL=https://docs.google.com
Icon=text-html
Categories=Office
