[Desktop Entry]
Name=Google Slides
Type=Link
GenericName=Office
Comment=Open Google Slides on browser
URL=https://docs.google.com/presentation
Icon=text-html
Categories=Office;Presentation
