[Desktop Entry]
Name=Google Sheets
Type=Link
GenericName=Office
Comment=Open Google Sheets on browser
URL=https://docs.google.com/spreadsheets
Icon=text-html
Categories=Office;Spreadsheet
